.leftpart{
    margin-top: 10px;
    padding-left: 20%;
    float: left;
}

button {
    background-color: #ff7e2d;
    color: rgb(32, 62, 82);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
  }

