
    <div class="row">
        <div class="column">
            <div class="centered">
                <h2>Jane Flex</h2>
                <p>Some text.</p>
            </div>
        </div>
    
        <div class="column">
            <div class="centered">
                <h2>Jane Flex</h2>
                <p>Some text two.</p>
            </div>
        </div>
    </div>
    <div class="bottom">
       
            <h2> I already save local entrepreneurs</h2>
            <button routerLink='/login'> Sign in</button>
       
    </div>


