<section>
    <div class="row">
        <div class="column">
            <div class="centered">
                <h2>I'm a local Shopper</h2>
                <button routerLink='/signupcustomer'>Sign Up now!</button>
            </div>
        </div>
    
        <div class="column">
            <div class="centered">
                <h2>I'm a local Entrepreneur</h2>
                <button routerLink='/signupstore'> Start selling now! </button>
            </div>
        </div>
    </div>
    <div class="bottom">
       
            <h2> I already save local entrepreneurs</h2>
            <button routerLink='/login'> Sign in</button>
       
    </div>
</section>


