/* Add a black background color to the top navigation */
.topnav {
    background-color: #fff0e4;
    overflow: hidden;
    padding-bottom: 9px;
    width: 100%;
    border-bottom: 2px solid grey; /* Or whatever color you want */
    

  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 14px;
    margin: 0px, 20px;
    padding-bottom: 5px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    border-bottom: 2px solid grey; /* Or whatever color you want */
    text-decoration: none;
  }
  
 .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

  .leftoptions{
    margin-left: 20%;
    float: left;
  }

  .rightoptions{
      float: right;
      margin-right: 20%;
  }

    h1{
    text-align: center;
    margin: 0px; 
    padding-top: 100px;
    background-size: cover;
    height: 200px;
    color: #e6f3ff;
    background-image: url('../../../assets/leeresCaffee.jpg');
    background-position: center;
    }
    

