<header>    
    <div class="logobar">
        <img src="../../../assets/logo.png" class="logo">
        <div class="title">Shop Local Now, for later</div>
    </div>
    <div id="navbar" class="topnav">
        <nav class="navitems"> 
            <div class="leftoptions">
                <a routerLink='/'> Home </a> 
                <a routerLink='/'> Neuerscheinungen </a> 
                <a routerLink='/'> Featured </a> 
                <a routerLink='/'> In meiner Nähe </a> 
            </div>
            <div class="rightoptions"> 
                <a routerLink='/account'> Konto </a> 
                <a routerLink='/'> Warenkorb </a> 
                <a routerLink='/signin'> Sign in </a> 
            </div>
        </nav>
    </div>    
</header>
