<header>
    <nav class="topnav">
        <a routerLink='/login'>Login </a> 
        <a routerLink='/'> Back </a> 
    </nav>
    <div class="heading">
        <h1>Shop Local Now, for later</h1>
    </div>
</header>
<p>
    Yannick Agnel<br>
Zur Navigation springenZur Suche springen<br>
Yannick Agnel Schwimmen<br>
YANNICK AGNEL a.jpg<br><br>
Yanick Agnel im Juni 2012<br>

Persönliche Informationen<br>
Name:	Yanick Agnel<br>
Nation:	Frankreich<br><br>
Verein:	Olympic Nice Natation<br>
Geburtstag:	9. Juni 1992 (27 Jahre)<br>
Geburtsort:	Nîmes<br>
Größe:	2,02 m<br>
Medaillenspiegel<br>
Ausklappen<br>
Medaillen<br>
Yannick Agnel (* 9. Juni 1992 in Nîmes) ist ein ehemaliger französischer Freistilschwimmer. 2012 gewann er bei den Olympischen Spielen in London die Goldmedaillen über 200 Meter Freistil und mit der französischen 4×100-Meter-Freistilstaffel. 2013 wurde er Weltmeister über 200 m Freistil. Er ist französischer Rekordhalter über 200 und 400 Meter Freistil.


Inhaltsverzeichnis<br>
2	Bestleistungen<br>
3	Weblinks<br>
4	Einzelnachweise<br>
Sportliche Karriere<br>
2009 holte Yannick Agnel bei den Europäischen Junioren-Europameisterschaften die Titel über 200 m und 400 m und mit der 4×200-Meter-Staffel. Bei den Europäischen Junioren-Europameisterschaften 2010 verbesserte er bei seinem Goldmedaillengewinn den französischen Rekord über 400 m auf 3:46,26 min.
<br>
2010 wurde er Europameister über 4<br>00 m und brach den französischen Rekord erneut. Als Startschwimmer der 4×200-Meter-Freistilstaffel, die den dritten Platz belegte, verbesserte er zudem den eigenen Landesrekord auf 1:45,83 min.
<br>
Bei den Weltmeisterschaften 2011 in Shanghai wurde er über 200 m in französischer Rekordzeit von 1:44,99 min Fünfter und über 400 m in 3:45,24 min Sechster. Mit der Freistilstaffel gewann er über 4×200 m die Silbermedaille.
<br>
Bei den Olympischen Spielen 2012 in London überholte er als Schlussschwimmer im 4×100-Meter-Rennen auf der letzten Bahn den US-Amerikaner Ryan Lochte und sicherte seinem Team in 3:09,93 min überraschend den Olympiasieg. Im Einzelrennen über 200 m gewann er überlegen seine zweite Goldmedaille in einer Zeit von 1:43,14 min, womit er den nationalen Rekord erneut verbesserte. Zum Abschluss holte er mit Frankreich noch die Silbermedaille in der 4×200 m Freistilstaffel. Im gleichen Jahr erzielte er bei den französischen Kurzbahn-Meisterschaften mit 3:32,27 min über 400 m einen neuen Welt- und mit 7:29,17 min über 800 m einen neuen Europarekord.[1] Agnel wurde 2012 zum Europäischen Schwimmer des Jahres gekürt.
<br>
Bei den Weltmeisterschaften 2013 in<br> Barcelona gewann er wie bei den Olympischen Spielen die Titel über 200 m und mit der französischen 4×100-Meter-Staffel. Zur Vorbereitung auf die Olympischen Spiele 2016 in Rio de Janeiro wechselte Agnel von Trainer Fabrice Pellerin zu der Trainingsgruppe vom Phelps-Trainer Bob Bowman nach Baltimore in die USA.[2] Bei den Spielen schied er im Vorlauf über 200 m Freistil aus und der damals 24-Jährige kündigte anschließend sein Karriereende an.[3]
<br>
Bestleistungen<br>
100 m Freistil: 47,84 s<br>
200 m Freistil: 1:43,14 min<br>
400 m Freistil: 3:43,85 min<br>
</p>

