.topImage{
    max-width: 100%;
}

.inlineDiv{
    display: inline-block;
    width: 50%;
}

.inRow{
    display: block;
}

.type{
    border: 3px solid darkgray;
}

#map {
    width: 100%;
    height: 400px;
    background-color: grey;
  }