<table style="margin: 20px;">

    <tr>
        <td>
            <b>Name</b>
        </td>
        <td>
            {{this.var.name}}
        </td>
    </tr>
    <tr>
        <td>
            <b>E-mail</b>
        </td>
        <td>
            {{this.var.email}}
        </td>
    </tr>
    <tr>
        <td>
            <b>Street</b>
        </td>
        <td>
            {{this.var.address.street}}
        </td>
    </tr>
    <tr>
        <td>
            <b>Housenumber</b>
        </td>
        <td>
            {{this.var.address.housenumber}}
        </td>
    </tr>
    <tr>
        <td>
            <b>Postcode</b>
        </td>
        <td>
            {{this.var.address.postcode}}
        </td>
    </tr>
    <tr>
        <td>
            <b>City</b>
        </td>
        <td>
            {{this.var.address.city}}
        </td>
    </tr>
    <tr>
        <td>
            <b>Longitude</b>
        </td>
        <td>
            {{this.var.address.longitude}}
        </td>
    </tr>
    <tr>
        <td>
            <b>Latitude</b>
        </td>
        <td>
            {{this.var.address.latitude}}
        </td>
    </tr>


</table>
