/* You can add global styles to this file, and also import other style files */
body{
    height: 100vh;
    margin: 0px 0px;
    font-family: 'Open Sans', sans-serif;
}


html * {
    background-color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
}

.section {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 10px;
}